<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telecom Tower</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/vendors/pure-min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="content">
      <canvas id="ledStripeCanvas" style="border:2px solid #d3d3d3;">
      Your browser does not support the HTML5 canvas tag.</canvas>
    </div>
    <script src="/vendors/jquery-3.1.1.min.js"></script>
    <script src="/vendors/autobahn.min.js"></script>
    <script src="/static/js/ledstripe.js"></script>
    <script>
      $( document ).ready(function() { 
        start_stripe({{.Columns}}, {{.Rows}}, {{.Url}}, {{.Realm}}, {{.Topic}});
      });
    </script> 
  </body>
</html>
